* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-blue-full: #214292;
  --color-blue: #5271ff;
  --color-blue-light: #7a78fc;
  --color-purple-full: #560d81;
  --color-purple: #7a2731;
  --color-purple-light: #9115ac;
  --color-black-full:#050607;
  --color-black: #0d0e10;
  --color-black-light: #15171a;
  --color-white-full: #edeff0;
  --color-white: #f5f7f7;
  --color-white-light: #fafcfc;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: "Oxanium", sans-serif;
  color: var(--color-white-full);
  font-weight: 400;
}

a {
  text-decoration: none;
}

.link {
  padding: 8px 24px;
  font-size: 24px;
  transition: 0.5s ease;
  position: relative;
}
.link::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 2px;
  transform: translate(25%, -50%);
  transition: 0.5s ease;
  background-color: var(--color-white);
}
.link:hover {
  opacity: 0.8;
}
.link:hover::after {
  width: 70%;
}

h1 {
  font-size: 98px;
  line-height: 100%;
  margin: 40px 0px;
}

@media screen and (max-width: 960px) {
  h1 {
    font-size: 54px;
  }
  h2 {
    font-size: 48px;
  }
}
h2 {
  font-size: 72px;
  line-height: 110%;
}

h3 {
  font-size: 36px;
  line-height: 110%;
}

h4 {
  font-size: 20px;
  line-height: 120%;
}

h5 {
  font-size: 20px;
  line-height: 130%;
}

h6 {
  font-size: 15px;
  line-height: 150%;
}

.mask1 {
  background: linear-gradient(225deg, #ffffff 0%, #b9bebf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  min-width: 6.7em;
  font-size: 100px;
}

.mask2 {
  background: linear-gradient(225deg, #233dff 0%, #5cb6f9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hello {
  aline-height: 150%;
  width: 90px;
  transform: translate(-20px, 40px);
}

.ui {
  width: 500px;
  transform: translate(80px, 10px);
}

.text-complement {
  padding: 20px;
  min-width: 16.4cm;
  transform: translate(530px, -200px);
  text-align: left;
}

.my-loc {
  min-width: 16.4cm;
  transform: translate(-90px, -30px);
}

.my-loc-icon {
  transform: translate(-90px, -50px);
}

.square {
  display: inline-block;
  margin-top: 64px;
  font-size: 24px;
  padding: 16px 24px;
  position: relative;
}
.square::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 120px;
  height: 120px;
  transform: translate(-5%, -20%) rotate(45deg);
  background: linear-gradient(225deg, #050A30 0%, #233dff 100%);
  border-radius: 4px;
  transition: 0.6s ease;
}
.square:hover::after {
  transform: translate(-5%, -20%) rotate(70deg);
}

body {
  width: 100%;
  background: linear-gradient(225deg, #1c1b1c 0%, #242425 50%, #181819 25%, #202020 25%);
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 48px 16px;
}

@media screen and (max-width: 960px) {
  .menu-left {
    display: none;
  }
  .menu-right {
    display: none;
  }
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 24px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.hero {
  height: 90vh;
}

@media screen and (max-width: 960px) {
  .hero {
    height: auto;
  }
  .container {
    flex-direction: column;
  }
}
.container-item:nth-child(1) {
  flex-grow: 3;
  margin: 40px 0px;
  margin-bottom: 300px;
}

.container-item:nth-child(2) {
  flex-grow: 1;
  display: flex;
  justify-content: end;
  margin-left: -300px;
}

.menu-logo img {
  width: 140px;
}/*# sourceMappingURL=style.css.map */