

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


    @import 'sass/colors';
    @import 'sass/typography';
    


body{
    width: 100%;

    background:linear-gradient(225deg, #1c1b1c 0%, #242425 50%, #181819 25%, #202020 25%);
}

.border{
    
}

    @import 'sass/spacing';
    @import 'sass/layout';

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
