

:root  {
    --color-blue-full: #214292;
    --color-blue: #5271ff;
    --color-blue-light: #7a78fc;


    --color-purple-full: #560d81;
    --color-purple: #7a2731;
    --color-purple-light: #9115ac;


    --color-black-full:#050607;
    --color-black: #0d0e10;
    --color-black-light: #15171a;

    --color-white-full: #edeff0;
    --color-white: #f5f7f7;
    --color-white-light: #fafcfc;
}